@{
//ViewBag.Title ??  "Quero Trocar - Não compre, troque!";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/StoreContent/bootstrap/css")
    @Styles.Render("~/StoreContent/skin-1/css")
    @Styles.Render("~/StoreContent/style/css")
    @Styles.Render("~/StoreContent/home-v7/css")
    @RenderSection("styles", required: false)
    @RenderSection("internalstyles", required: false)
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Content/StoreContent/js/html5shiv.js")"></script>
        <script src="@Url.Content("~/Content/StoreContent/js/respond.min.js")"></script>
    <![endif]-->

    <script>
        paceOptions = {
            elements: true
        };
    </script>
    @Scripts.Render("~/StoreContent/pace/script")
    <meta name="description" content="Sistema de Trocas" />
</head>
<body>
    <div class="modal signUpContent fade" id="ModalLogin" tabindex="-1" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                    <h3 class="modal-title-site text-center"> Acessar conta </h3>
                </div>
                <div class="modal-body">
                    <div class="form-group login-username">
                        <div>
                            <input name="log" id="login-user" class="form-control input" size="20" placeholder="E-mail" type="text">
                        </div>
                    </div>
                    <div class="form-group login-password">
                        <div>
                            <input name="Password" id="login-password" class="form-control input" size="20" placeholder="Senha" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="checkbox login-remember">
                                <label>
                                    <input name="rememberme" value="forever" checked="checked" type="checkbox">
                                    Lembrar-me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <input name="submit" class="btn  btn-block btn-lg btn-primary" value="Entrar" type="submit">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-center">
                        Não possui uma conta? <a data-toggle="modal" data-dismiss="modal" href="#ModalSignup"> Criar conta. </a> <br>
                        <a href="forgot-password.html"> Esqueceu sua senha? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal signUpContent fade" id="ModalSignup" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                    <h3 class="modal-title-site text-center"> REGISTRAR </h3>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <a class="fb_button btn  btn-block btn-lg " href="#"> ENTRAR COM FACEBOOK </a>
                    </div>
                    <h5 style="padding:10px 0 10px 0;" class="text-center"> OU </h5>
                    <div class="form-group reg-email">
                        <div>
                            <input name="reg" class="form-control input" size="20" placeholder="E-mail" type="text">
                        </div>
                    </div>
                    <div class="form-group reg-password">
                        <div>
                            <input name="password" class="form-control input" size="20" placeholder="Senha" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="checkbox login-remember">
                                <label>
                                    <input name="rememberme" id="rememberme" value="forever" checked="checked" type="checkbox">
                                    Lembrar-me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <input name="submit" class="btn  btn-block btn-lg btn-primary" value="REGISTRAR" type="submit">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-center">
                        Já um membro? <a data-toggle="modal" data-dismiss="modal" href="#ModalLogin">
                            Entrar
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-hero  navbar-fixed-top megamenu" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"> Toggle navigation </span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                </button>
                <a class="navbar-brand " href="index.html">
                    <img src="#" alt="QUEROTROCAR!">
                </a>
                <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                    <div class="input-group">
                        <button class="btn btn-nobg search-trigger" type="button"><i class="fa fa-search"> </i></button>
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")"> Início </a></li>
                    <li class="dropdown megamenu-fullwidth ">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Produtos<b class="caret"> </b> </a>
                        <ul class="dropdown-menu hero-submenu">
                            <li class="megamenu-content">
                                <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                    <li>
                                        <p class="menu-title"><strong> Informática </strong></p>
                                    </li>
                                    <li><a href="#"> Notebook </a></li>
                                    <li><a href="#"> Smartphone </a></li>
                                    <li><a href="#"> Tablet </a></li>
                                    <li><a href="#"> Computador </a></li>
                                    <li><a href="#"> Outros </a></li>
                                </ul>
                                <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                    <li>
                                        <p class="menu-title"><strong> Móveis </strong></p>
                                    </li>
                                    <li><a href="#"> Mesa </a></li>
                                    <li><a href="#"> Sofá </a></li>
                                    <li><a href="#"> Armário </a></li>
                                    <li><a href="#"> Cama </a></li>
                                    <li><a href="#"> Outros </a></li>
                                </ul>
                                <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                    <li>
                                        <p class="menu-title"><strong> Eletrodomésticos </strong></p>
                                    </li>
                                    <li><a href="#"> Geladeira </a></li>
                                    <li><a href="#"> Fogão </a></li>
                                    <li><a href="#"> Aspirador de pó </a></li>
                                    <li><a href="#"> Televisor </a></li>
                                    <li><a href="#"> Outros </a></li>
                                </ul>
                                <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                    <li>
                                        <p class="menu-title"><strong> Livros </strong></p>
                                    </li>
                                    <li><a href="#"> Técnico </a></li>
                                    <li><a href="#"> Fantasia </a></li>
                                    <li><a href="#"> Romance </a></li>
                                    <li><a href="#"> Terror </a></li>
                                    <li><a href="#"> Outros </a></li>
                                </ul>
                                <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                    <li>
                                        <p class="menu-title"><strong> Brinquedos </strong></p>
                                    </li>
                                    <li><a href="#"> Boneco </a></li>
                                    <li><a href="#"> Carrinho </a></li>
                                    <li><a href="#"> Tabuleiro </a></li>
                                    <li><a href="#"> Pelúcia </a></li>
                                    <li><a href="#"> Outros </a></li>
                                </ul>
                                <ul class="col-lg-2  col-sm-2 col-md-2  unstyled">
                                    <li>
                                        <p class="menu-title"><strong> Jogos </strong></p>
                                    </li>
                                    <li><a href="#">Console</a></li>
                                    <li><a href="#">Pc</a></li>
                                    <li><a href="#">Cartas</a></li>
                                    <li><a href="#">Estratégia</a></li>
                                    <li><a href="#">Outros</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("QuemSomos", "Home")"> Quem Somos? </a></li>
                    <li><a href="@Url.Action("PerguntasFrequentes", "Home")"> Como funciona? </a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("MeusProdutos", "Produtos")"> Meus Produtos </a></li>
                        <li><a href="@Url.Action("MeuPerfil", "Usuarios")"> Meu Perfil </a></li>
                    }                 
                </ul>
                <ul class="nav navbar-nav navbar-right"> 
                    <li class="hide-xs"><a class="btn btn-nobg  search-trigger"><i class="fa fa-search"> </i></a></li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                    <li><a href="@Url.Action("NovoUsuario", "Conta" )"> Cadastre-se <i class="fa fa-user"></i> </a></li>
                    <li><a href="@Url.Action("Login", "Conta" )"> Entrar <i class="fa fa-sign-in"></i> </a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Logout", "Conta" )"> Sair <i class="fa fa-sign-out"></i> </a></li>
                    }
                </ul>
            </div>

        </div>
        <div class="search-full text-right">
            <a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>
            <div class="searchInputBox pull-right">
                <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search" class="search-input">
                <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
            </div>
        </div>
    </div>
    @RenderBody()
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <h3> Suporte </h3>
                        <ul>
                            <li class="supportLi">
                                <p>Dúvidas ou sugestões entre em contato</p>
                                <h4>
                                    <a class="inline" href="#">
                                        <strong>
                                            <i class="fa fa-phone"> </i> (11) 5555-5555
                                        </strong>
                                    </a>
                                </h4>
                                <h4>
                                    <a class="inline" href="#">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="__cf_email__">contato@querotrocar.com</span>
                                    </a>
                                </h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Trocar </h3>
                        <ul>
                            <li><a href="#">Informática</a></li>
                            <li><a href="#">Eletrônicos</a></li>
                            <li><a href="#">Eletrodomésticos</a></li>
                            <li><a href="#">Jogos</a></li>
                            <li><a href="#">Livros</a></li>
                        </ul>
                    </div>
                    <div style="clear:both" class="hide visible-xs"></div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Informações </h3>
                        <ul>
                            <li><a href="#">Sobre</a></li>
                            <li><a href="#">Como Funciona?</a></li>
                            <li><a href="#">Dúvidas Frequêntes</a></li>
                            <li><a href="#">Torne-se um Parceiro</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Minha Conta </h3>
                        <ul>
                            <li><a href="account.html"> Minha conta </a></li>
                            <li><a href="my-address.html"> Meus produtos </a></li>
                            <li><a href="wishlist.html"> Lista de desejos </a></li>
                            <li><a href="order-list.html"> Histórico de trocas </a></li>
                            <li><a href="order-status.html"> Usuários </a></li>
                        </ul>
                    </div>
                    <div style="clear:both" class="hide visible-xs"></div>
                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                        <h3> Receber notificações </h3>
                        <ul>
                            <li>
                                <div class="input-append newsLatterBox text-center">
                                    <input type="text" class="full text-center" placeholder="Email ">
                                    <button class="btn  bg-gray" type="button">
                                        Assinar
                                        <i class="fa fa-long-arrow-right"> </i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <ul class="social">
                            <li><a href="http://facebook.com"> <i class=" fa fa-facebook"> &nbsp; </i> </a></li>
                            <li><a href="http://twitter.com"> <i class="fa fa-twitter"> &nbsp; </i> </a></li>
                            <li><a href="https://plus.google.com"> <i class="fa fa-google-plus"> &nbsp; </i> </a></li>
                            <li><a href="http://youtube.com"> <i class="fa fa-pinterest"> &nbsp; </i> </a></li>
                            <li><a href="http://youtube.com"> <i class="fa fa-youtube"> &nbsp; </i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> &copy; QUERO TROCAR 2017.</p>
            </div>
        </div>
    </footer>
    @RenderSection("modals", required: false)
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>*@
    @*<script src="@Url.Content("~/Content/StoreContent/js/jquery.min.js")"></script>*@
    @*@Scripts.Render("~/StoreContent/bootstrap/script")*@
    @Scripts.Render("~/StoreContent/jquery-cycle2/script")
    @Scripts.Render("~/StoreContent/jquery-easing/script")
    @Scripts.Render("~/StoreContent/jquery-parallax/script")
    @Scripts.Render("~/StoreContent/jquery-mousewheel/script")
    @Scripts.Render("~/StoreContent/jquery-custom-scroll/script")
    @Scripts.Render("~/StoreContent/icheck/script")
    @Scripts.Render("~/StoreContent/grids/script")
    @Scripts.Render("~/StoreContent/owl-carousel/script")
    <script src="@Url.Content("~/Content/StoreContent/js/select2.min.js")"></script>
    @Scripts.Render("~/StoreContent/bootstrap-touchspin/script")
    @Scripts.Render("~/StoreContent/home/script")
    @Scripts.Render("~/StoreContent/script/script")
    @RenderSection("internalscripts", required: false)
</body>
</html>