
@{
    ViewBag.Title = "Quem Somos? - Quero Trocar!";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
@section Styles {
    @Styles.Render("~/StoreContent/magnific/css")
    @Styles.Render("~/StoreContent/jquery-bxslider/css")
}

<div class="container main-container headerOffset">
    <div class="container">
        <div class="row">
            <div class="container main-container ">
                <div class="row innerPage">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row userInfo">
                            <div class="col-xs-12 col-sm-12">
                                <h1 class="title-big text-center section-title-style2">
                                    <span>
                                        Quem Somos?
                                    </span>
                                </h1>
                                <p class="lead text-center">O “Quero Trocar! “ é um sistema web responsivo que busca facilitar a realização de trocas de diversos produtos entre as mais variadas categorias para seus diversos usuários com interesses em comum que vivem em qualquer lugar do Brasil, e os aproximando em um ambiente agradável que os deixem confortáveis em negociar seus produtos.</p>
                                <p class="lead text-center">Para isso, basta realizar seu cadastro com suas informações básicas, e começar a navegar no sistema, utilizando os diversos métodos de pesquisas de produtos oferecidos pela plataforma para encontrar os produtos que mais os agradem.</p>
                                <p class="lead text-center">	Caso deseje receber ofertas por seus produtos, você também pode cadastrar seu produto no sistema, colocando imagens que auxiliem os outros usuários a saberem os diferenciais de seu produto, e o nível de conservação.</p>
                                <p class="lead text-center">Vale ressaltar que o “Quero Trocar! “ não se responsabiliza pelas trocas realizadas entre os usuários, mas, deixamos em nosso sistema todas as dicas para que o usuário possa realizar suas trocas confortavelmente e que se sintam felizes após o término de suas negociações.</p>
                                <hr/>
                                <br />
                                <h1 class="title-big text-center section-title-style2">
                                    <span>
                                        Quem é o responsável pelo “Quero Trocar! ”?
                                    </span>
                                </h1>
                                <p class="lead text-center">O “Quero Trocar!” é um projeto desenvolvido por três amigos universitários, que analisaram o quão consumista andava o mundo,  e quanto o mesmo precisava de um ambiente que os fornecesse uma motivação para não descartar seus produtos, e simplesmente não pensar que pôr o seu produto não ser mais útil para si, deveria jogá-lo fora e comprar outro, mas que este poderia ser o que outra pessoa procura, e que ela possa ter algo que você também necessite. E, com esta visão, estes “três novos mosqueteiros da tecnologia”, encontraram um mercado ainda não muito explorado, e aproveitaram para oferecer um serviço de qualidade e interesse público, e obviamente, desenvolver suas próprias habilidades sobre o desenvolvimento e práticas, além de aprimorar o conhecimento sobre novas tecnologias presentes no mercado.</p>
                                <hr />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/StoreContent/necessary/script")
    @Scripts.Render("~/StoreContent/bootstrap/script")
    @Scripts.Render("~/StoreContent/jquery-fitvids/script")
    @Scripts.Render("~/StoreContent/jquery-bxslider/script")
}

