@model Project.Application.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Acessar conta - Quero Trocar!";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<div class="container main-container headerOffset">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-default ">
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @using (Html.BeginForm("Login", "Conta", FormMethod.Post, new { @id = "NovoUsuarioForm" }))
                            {
                                <fieldset>
                                    @Html.AntiForgeryToken()
                                    <legend style="text-align:center;">Acessar conta </legend>
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.Email, new { @class = "col-md-4 control-label text-right" })
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-md", @placeholder = "E-mail" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.Senha, new { @class = "col-md-4 control-label text-right" })
                                        <div class="col-md-6">
                                            @Html.PasswordFor(model => model.Senha, new { @class = "form-control input-md", @placeholder = "Senha" })
                                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">                                        
                                        <div class="col-md-offset-4">
                                            @Html.LabelFor(model => model.LembrarLogin, new { @class = "col-md-4 control-label text-right" })
                                            @Html.CheckBoxFor(model => model.LembrarLogin)
                                        </div>
                                    </div>
                                    @Html.ValidationSummary(false)
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary">Entrar</button>
                                    </div>
                                </fieldset>
                            }
                        </div>
                        <div id="fb-root"></div> <!-- This initializes the FB controls-->
                        <div class="fb-login-button" autologoutlink="true"
                             scope="user_birthday,email">
                            Login with Facebook
                        </div> <!-- FB Login Button -->
                        <!-- Details -->
                        <div id="auth-status">
                            <div id="auth-loggedin" style="display: none">
                                Hi, <span id="displayname"></span><br />
                                Your Facebook ID : <span id="FBId"></span><br />
                                Your Email : <span id="DisplayEmail"></span><br />
                                Your Sex:, <span id="Gender"></span><br />
                                Your Date of Birth :, <span id="DOB"></span><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobstrusive")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>



    <script>

    </script>


<script>
    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        ref.parentNode.insertBefore(js, ref);
    } (document));



</script>


<script src=https://connect.facebook.net/en_US/all.js type="text/javascript"></script>

<script src="scripts/jquery-1.8.0.min.js"
        type="text/javascript"></script>
<script src="scripts/all.js"
        type="text/javascript"></script> 7) Now to initialize the Facebook SDK
copy following code in a new script section :

    <script>
         $("document").ready(function () {
            // Initialize the SDK upon load
            FB.init({
                appId: '168145657070034', // App ID
                channelUrl: '//' + window.location.hostname + '/Home/Index', // Path to your
                                                                          // Channel File
                scope: 'id,name,gender,user_birthday,email', // This to get the user details back
                                                             // from Facebook
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });
            // listen for and handle auth.statusChange events
            FB.Event.subscribe('auth.statusChange', OnLogin);
         });


         // This method will be called after the user login into facebook.
         function OnLogin(response) {
             if (response.authResponse) {
                 FB.api('/me?fields=id,name,gender,email,birthday', LoadValues);
             }
         }

         //This method will load the values to the labels
         function LoadValues(me) {
             if (me.name) {
                 document.getElementById('displayname').innerHTML = me.name;
                 document.getElementById('FBId').innerHTML = me.id;
                 document.getElementById('DisplayEmail').innerHTML = me.email;
                 document.getElementById('Gender').innerHTML = me.gender;
                 document.getElementById('DOB').innerHTML = me.birthday;
                 document.getElementById('auth-loggedin').style.display = 'block';
             }
         }
</script>
}

