@using Microsoft.AspNet.Identity
@using Project.Application.ViewModels
@model PerguntaUsuarioViewModel
<div class="all-review-wrapper ">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-left">
                <a href="@Url.Action("Perfil", "Usuarios", new { @id = Model.UsuarioId })">
                    <img class="media-object img-circle" src="@Url.Content(Model.ImagemCaminho)" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                </a>
            </div>
            <h4>
                <a href="@Url.Action("Perfil", "Usuarios", new { @id = Model.UsuarioId })" style="text-decoration:none;">
                    <strong>@Model.Nome @Model.Sobrenome</strong></a> – 
                    <small>
                        <small>
                            <i><i class="fa fa-clock-o" aria-hidden="true"></i> @Model.DataCriacao.ToString("dd-MM-yyyy")</i>
                        </small>
                    </small>
            </h4>
            <div class="post-content">
                @Model.Descricao
            </div>                     
            <hr>
            @if (Model.RespostaViewModels == null && ViewBag.Produto.UsuarioId == User.Identity.GetUserId())
            {
                @Html.Partial("_CriacaoResposta", new RespostaViewModel { RespostaId = Model.PerguntaId })
            }
            else if(Model.RespostaViewModels != null)
            {
                @Html.Partial("_DescricaoResposta", Model.RespostaViewModels)
            }
        </div>
    </div>    
</div>