@using Microsoft.AspNet.Identity;
@model Project.Application.ViewModels.RespostaViewModel
<div class="post-content" id="DetalhesRespostaContent-@Model.RespostaId">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-left">
                <a href="@Url.Action("Perfil", new { @controller = "Usuarios", @id = ViewBag.Usuario.UsuarioId })">
                    <img class="media-object img-circle" src="@Url.Content(ViewBag.Usuario.ImagemCaminho)" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                </a>
            </div>
            <h4>
                <a href="@Url.Action("Perfil", new { @controller = "Usuarios", @id = ViewBag.Usuario.UsuarioId })" style="text-decoration:none;">
                    <strong> @ViewBag.Usuario.Nome @ViewBag.Usuario.Sobrenome</strong></a> – <small><small>
                    <a href="#" style="text-decoration:none; color:grey;">
                        <i><i class="fa fa-clock-o" aria-hidden="true"></i> @Model.DataCriacao.ToString("dd-MM-yyyy")</i>
                    </a></small></small></h4>            
            <div class="post-content">
                @Model.Descricao
            </div>
            <hr>
            @if (ViewBag.Produto.UsuarioId == User.Identity.GetUserId())
            {
                <div>
                    <div class="pull-right btn-group-xs">
                        @using (Ajax.BeginForm("ModalEditarResposta", "Produtos", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ModalResposta", OnSuccess = "$('#ModalResposta').modal('show');" }, new { @style = "display: inline-block" }))
                        {
                            @Html.Hidden("respostaId", Model.RespostaId)
                            <button class="btn btn-info" type="submit"><i class="fa fa-edit"></i> Editar resposta</button>
                        }
                    </div>
                    <br>
                </div>
            }            
        </div>
    </div>
</div>
