@using Project.Application.ViewModels
@model ProdutoViewModel
@{
    ViewBag.Title = string.Format("Produto {0}- Quero Trocar!", Model.Nome);
    ViewBag.ProdutoId = Model.ProdutoId;
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
@section Styles {
    @Styles.Render("~/StoreContent/product-details/css")
    @Styles.Render("~/StoreContent/magnific/css")
    @Styles.Render("~/StoreContent/jquery-bxslider/css")
}




<section class="section-product-info">
    <div class="container-1400 container main-container product-details-container ">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="product-images-carousel-wrapper">
                    <div class="productMainImage hasWhiteImg">
                        <ul class="bxslider product-view-slides product-view-slides-h ">
                            @foreach (var imagem in Model.ProdutoImagemViewModels)
                            {
                                <li><img src="@Url.Content(imagem.Caminho)" alt="img" /></li>
                            }                            
                        </ul>
                    </div>
                    <div class="product-view-thumb-wrapper has-carousel-v hasWhiteImg">
                        <div class="product-view-thumb-nav prev"></div>
                        <ul id="bx-pager" class="product-view-thumb ">
                            @{
                                var count = 0;
                                foreach (var imagem in Model.ProdutoImagemViewModels)
                                {
                                    <li>
                                        <a class="thumb-item-link" data-slide-index="@count" href="">
                                            <img src="@Url.Content(imagem.Caminho)" alt="img" />
                                        </a>
                                    </li>
                                    count++;
                                }
                            }
                        </ul>
                        <div class="product-view-thumb-nav next"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="product-details-info-wrapper">
                    <h2 class="product-details-product-title">@Model.Nome</h2>
                    <div class="product-details-product-color">
                        <span class="selected-color">
                            <strong>Descrição:</strong>
                            <span class="color-value">@Model.Descricao</span>
                        </span>
                    </div>
                    <div class="product-details-product-color">
                        <span class="selected-color">
                            <strong>Categoria:</strong>
                            <span class="color-value">@Model.CategoriaViewModel.Nome</span>
                        </span>
                    </div>
                    <div class="product-details-product-color">
                        <span class="selected-color">
                            <strong>Sub-Categoria:</strong>
                            <span class="color-value">@Model.SubCategoriaViewModel.Nome</span>
                        </span>
                    </div>
                    <div class="row review-item">
                        <div class="col-lg-3 col-sm-3  left">
                            <div class="review-item-user">
                                <div class="review-item-user-profile">
                                    <img class="img-circle" alt="" src="images/product_details/user-2.jpg">
                                </div>
                                <div class="user-name">
                                    <p>John Doe </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9  col-sm-9 right">
                            <div class="rating commentRating">
                                <p>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span> <i class="fa fa-star-o "></i> </span>
                                    <span class="ratingInfo">
                                        <span> / </span>
                                        <a data-target="#modal-review" data-toggle="modal"> 4.0 </a>
                                    </span>
                                </p>
                            </div>
                            <h5 class="reviewUserTitle"><strong>Marcela Lima Alves</strong></h5>
                            <a class="btn btn-danger">Visualizar perfil</a>
                        </div>
                    </div>
                    <div class="row row-cart-actions clearfix ">
                        <div class="col-sm-12 ">
                            <a class="btn btn-block btn-success">Trocar</a>
                            <a class="btn btn-block btn-info">Adicionar a lista de Desejos</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</section>
<section class="section-product-info-bottom">
    <div class="product-details-bottom-bar">
        <div class="container-1400 container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="nav nav-tabs flat list-unstyled list-inline social-inline" role="tablist">
                        <li role="presentation" class="">
                            <a href="#tab1" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false">
                                Detalhes
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab4" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">
                                Dúvidas
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">
                                Ofertas rejeitadas
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="review-title-bar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-tab-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <div class="product-story-inner ">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-12 ">
                            <div class="hw100 display-table">
                                <div class="hw100 display-table-cell">
                                    <div class="product-story-info-box">
                                        <div class="product-story-info-text ">
                                            <h5 class="subtitle">Mais sobre o produto</h5>
                                            <h3 class="title">Características do Produto @Model.Nome</h3>
                                            <p class="desc">
                                                @Model.Detalhes
                                            </p>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab2">
            <div class="product-story-inner ">
                <div class="container">
                    <div class="row has-equal-height-child">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  is-equal">
                            <div class="hw100 display-table">
                                <div class="hw100 display-table-cell">
                                    <div class="product-story-info-box">
                                        <div class="product-story-info-text " data-wow-duration=".8s" data-wow-delay="0">
                                            <h3 class="title">Additional info</h3>
                                            <p class="desc">
                                                In legendos salutatus qui, sit primis percipit probatus at. Est vidit
                                                iuvaret platonem eu. Et nam suas sint. Adhuc putant vivendo in has,
                                                omittam persecuti pro in. An ceteros tacimates facilisis nam, ex magna
                                                consul per.
                                            </p>
                                            <ul class="list">
                                                <li>Suspendisse vestibulum lectus id viverra viverra.</li>
                                                <li>Etiam a leo ut ipsum blandit elementum .</li>
                                                <li>Proin et ex gravida, sodales mauris id, .</li>
                                                <li>Maecenas id eros nec tellus .</li>
                                                <li>Praesent imperdiet est at sem .</li>
                                                <li>Lorem ipsum dolor sit amet, .</li>
                                                <li>Pellentesque pretium diam vitae risus vestibulum, .</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  is-equal">
                            <div class="product-story-a-img " data-wow-duration="1s" data-wow-delay="0.25">
                                <img alt="Image Title" src="images/product_details/product-features.jpg" class="img-responsive ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab3">
            <br />
            <div class="container">
                @foreach (var imagem in Model.ProdutoImagemViewModels)
                {
                    <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="product">
                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>
                            <div class="image">
                                <div class="quickview">
                                    <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax/product.html" data-target="#productSetailsModalAjax">Visualizar </a>
                                </div>
                                <a href="product-details.html">
                                    <img src="images/product/30.jpg" alt="img" class="img-responsive">
                                </a>
                                <div class="promotion">
                                    <span class="new-product">Recente</span>
                                </div>
                            </div>
                            <div class="action-control">
                                <h4><a href="product-details.html">Home Theater Philips</a></h4>
                                <a class="btn btn-primary">
                                    <span class="add2cart">Detalhes</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }                
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab4">
            <section class="section-review whitebg" id="product-review">

                <div class="container">
                    <div class="hero-section-header productReviewTitleBAr">
                        <h3 class="hero-section-title"><i class="fa fa-2x  fa-comments-o"></i>Perguntas</h3>
                    </div>


                    <div class="all-review-wrapper ">
                       
                        @foreach (var pergunta in Model.PerguntasViewModels)
                        {
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                                    </a>
                                </div>
                                <h4><a href="#" style="text-decoration:none;"><strong>John Doe</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> 42 minutes ago</i></a></small></small></h4>

                                <div class="post-content">
                                    @pergunta.Descricao
                                </div>
                                
                                    <div class="navbar-right">
                                        <div class="dropdown">
                                            <button class="btn btn-link btn-xs dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <i class="fa fa-cog" aria-hidden="true"></i>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                                
                                                <li><a href="#"><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                                                <li><a href="#"><i class="fa fa-fw fa-ban" aria-hidden="true"></i> Ignore</a></li>
                                                <li><a href="#"><i class="fa fa-fw fa-bell" aria-hidden="true"></i> Enable notifications for this post</a></li>
                                                <li><a href="#"><i class="fa fa-fw fa-eye-slash" aria-hidden="true"></i> Hide</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Delete</a></li>
                                            </ul>
                                            <a href="@Url.Action("EditarPergunta", new { @Controller = "Produtos", @id = pergunta.PerguntaId })" data-target="#edPerguntaModal" data-toggle="modal" class="btn btn-info"> <span> Editar Pergunta </span> </a>
                                        </div>
                                    </div>
                                
                                    <hr>
                                    @if (pergunta.RespostaViewModels != null)
                                    {
                                        <div class="post-content">

                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="pull-left">
                                                        <a href="#">
                                                            <img class="media-object img-circle" src="https://diaspote.org/uploads/images/thumb_large_283df6397c4db3fe0344.png" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                                                        </a>
                                                    </div>


                                                    <h4><a href="#" style="text-decoration:none;"><strong> Fulano</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> about 15 hours ago</i></a></small></small></h4>
                                                    <hr>
                                           
                                                    <div class="post-content">

                                                       @foreach (var resposta in pergunta.RespostaViewModels.Descricao)
                                                       {

                                                           @resposta

                                                       }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                <hr>
                                <div>
                                    <div class="pull-right btn-group-xs">
                                        <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                                        <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                                        <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                                        <a href="@Url.Action("EditarResposta", new { @Controller = "Produtos", @id = pergunta.RespostaViewModels.RespostaId })" data-target="#edRespostaModal" data-toggle="modal" class="btn btn-info"> <span> Editar Resposta </span> </a>
                                    </div>
                                    <div class="pull-left">
                                        <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                                    </div>
                                    <br>
                                </div>
                                <hr>
                                <div class="media">
                                    <div class="pull-left">
                                        <a href="#">
                                            <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                                        </a>
                                    </div>
                                    @using (Html.BeginForm("AdicionarResposta", "Produtos", FormMethod.Post, new { @class = "form-horizontal", @id = "Produto-Form" }))
                                    {
                                    <div class="media-body">
                                        @Html.TextAreaFor(model => model.PerguntasViewModels.FirstOrDefault().RespostaViewModels.Descricao, new { @class = "form-control", @placeholder = "Escreva sua Resposta", @style = "max-witdh: 450px;", @rows = "2" })
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    

                        <div class="row">
                            <div class="col-lg-12 review-load-more">
                                <div class=" text-center">
                                    <a href="#" class="btn  btn-default  ">
                                        <i class="fa fa-plus-sign">+</i> Carregar mais perguntas
                                    </a>
                                    <a class="btn  btn-success" data-target="#addPerguntaModal" data-toggle="modal">
                                        <i class="fa fa-edit"></i> Escrever pergunta
                                    </a>

                        
                                    <div class="modal fade" id="addPerguntaModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            
                                         @using (Html.BeginForm("AdicionarPergunta", "Produtos", FormMethod.Post, new { @class = "form-horizontal", @id = "Produto-Form" }))
                                         {
                                            @Html.HiddenFor(m => m.ProdutoId)  
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Escreva sua Pergunta</h4>
                                                </div>
                                                <div class="modal-body">
                                                    @Html.TextAreaFor(model => model.PerguntasViewModels.FirstOrDefault().Descricao, new { @class = "form-control", @placeholder = "Descrição da Pergunta", @style = "max-witdh: 450px;", @rows = "2" })
                                                </div>
                                                <div class="modal-footer">
                                                    
                                                    <button type="submit" >Adicionar Pergunta</button>
                                                </div>
                                            </div>
                                         }
                                        </div>
                                    </div>


                                    <div class="modal fade" id="edPerguntaModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->

                                            @using (Html.BeginForm("EditarPergunta", "Produtos", FormMethod.Post, new { @class = "form-horizontal", @id = "Produto-Form" }))
                                            {
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Escreva sua Pergunta</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        @Html.TextAreaFor(model => model.PerguntasViewModels.FirstOrDefault().Descricao, new { @class = "form-control", @placeholder = "Descrição da Pergunta", @style = "max-witdh: 450px;", @rows = "2" })
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="submit">Editar Pergunta</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>


                                    <div class="modal fade" id="edRespostaModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->

                                            @using (Html.BeginForm("EditarResposta", "Produtos", FormMethod.Post, new { @class = "form-horizontal", @id = "Produto-Form" }))
                                            {
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Responda a pergunta</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        @Html.TextAreaFor(model => model.PerguntasViewModels.FirstOrDefault().RespostaViewModels.Descricao, new { @class = "form-control", @placeholder = "Descrição da Pergunta", @style = "max-witdh: 450px;", @rows = "2" })
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="submit">Editar Resposta</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    
                </div>
                
            </section>
        </div>
    </div>

    
</section>



    <!-- Modal -->




@section Scripts {
    @Scripts.Render("~/StoreContent/necessary/script")
    @*@Scripts.Render("~/StoreContent/bootstrap/script")*@
    @Scripts.Render("~/StoreContent/jquery-fitvids/script")
    @Scripts.Render("~/StoreContent/jquery-bxslider/script")
}
@section InternalScripts{
    <script>
        $(document).ready(function () {

            var $$mainImgSliderPager = $('#bx-pager');
            var $mainImgSlider = $('.bxslider').bxSlider({
                pagerCustom: '#bx-pager',
                video: true,
                useCSS: false,
                mode: 'vertical',
                controls: false
            });
            var settings = function () {
                var mobileSettings = {
                    slideWidth: 60,
                    minSlides: 2,
                    maxSlides: 4,
                    slideMargin: 10,
                    controls: false,
                    touchEnabled: false

                };
                var pcSettings = {
                    mode: 'vertical',
                    minSlides: 4,
                    pager: false,
                    slideMargin: 10,
                    nextSelector: '.product-view-thumb-nav.next',
                    prevSelector: '.product-view-thumb-nav.prev',
                    nextText: ' <i class="fa fa-angle-down"></i>',
                    prevText: ' <i class="fa fa-angle-up"></i>'
                };
                return ($(window).width() < 768) ? mobileSettings : pcSettings;
            }

            var thumbSlider;

            function tourLandingScript() {
                thumbSlider.reloadSlider(settings());
            }

            thumbSlider = $('.has-carousel-v .product-view-thumb').bxSlider(settings());
            $(window).resize(tourLandingScript);

        });
    </script>    
}