@model Project.Application.ViewModels.ProdutoViewModel
@{
    ViewBag.Title = "Cadastrar novo Produto - Quero Trocar!";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<div class="container main-container headerOffset">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-default ">
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @using (Html.BeginForm("Novo", "Produtos", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <fieldset>
                                    <legend style="text-align:center;">Cadastrar novo produto</legend>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Nome, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control input-md", @placeholder = "Nome do produto" })
                                            @Html.ValidationMessageFor(model => model.Nome, "",  new { @class = "text-danger" })
                                        </div>
                                    </div>                                   
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Descricao, new { @class = "col-md-4 control-label" })                                       
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @placeholder = "Descrição", @style = "max-witdh: 450px;", @rows = "2" })
                                            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Detalhes, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(model => model.Detalhes, new { @class = "form-control", @placeholder = "Detalhes", @style = "max-witdh: 450px;", @rows = "6" })
                                            @Html.ValidationMessageFor(model => model.Detalhes, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CategoriaId, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-4">
                                            @Html.DropDownList("CategoriaId", (IEnumerable<SelectListItem>)ViewBag.Categorias, string.Empty, new { @class = "form-control select2-hidden-accessible", @tabindex = "-1" })
                                            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SubCategoriaId, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-4">
                                            @Html.DropDownList("SubCategoriaId", (IEnumerable<SelectListItem>)ViewBag.SubCategorias, string.Empty, new { @class = "form-control select2-hidden-accessible", @tabindex = "-1" })
                                            @Html.ValidationMessageFor(model => model.SubCategoriaId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}