@using Project.Application.ViewModels
@model UsuarioPerfilViewModel
@using System.Globalization;
@{
    ViewBag.Title = "Meu Perfil - Quero Trocar!";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
@section Styles {
    @Styles.Render("~/StoreContent/file-input/css")
    <style>
        .mainbody {
            background: #f0f0f0;
        }

        .navbar-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 20;
            margin-left: -15px;
            margin-right: -15px;
        }

            .navbar-wrapper .container {
                padding-left: 0;
                padding-right: 0;
            }

            .navbar-wrapper .navbar {
                padding-left: 15px;
                padding-right: 15px;
            }

        .navbar-content {
            width: 320px;
            padding: 15px;
            padding-bottom: 0px;
        }

            .navbar-content:before, .navbar-content:after {
                display: table;
                content: "";
                line-height: 0;
            }

        .navbar-nav.navbar-right:last-child {
            margin-right: 15px !important;
        }

        .navbar-footer {
            background-color: #DDD;
        }

        .navbar-footer-content {
            padding: 15px 15px 15px 15px;
        }

        .dropdown-menu {
            padding: 0px;
            overflow: hidden;
        }

        .brand_network {
            color: #9D9D9D;
            float: left;
            position: absolute;
            left: 70px;
            top: 30px;
            font-size: smaller;
        }

        .post-content {
            margin-left: 58px;
        }

        .badge-important {
            margin-top: 3px;
            margin-left: 25px;
            position: absolute;
        }

        body {
            background-color: #e8e8e8;
        }
    </style>
}
<div class="container main-container headerOffset">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media"/>                
                            <div align="center">                                
                                @if (Model.UsuarioViewModel.ImagemCaminho != null)
                                {
                                    <img class="thumbnail img-responsive" src="@Url.Content(Model.UsuarioViewModel.ImagemCaminho)" width="300px" height="300px" onclick="$('#CadastrarImagem').modal('show');">
                                }
                                else
                                {
                                    <img class="thumbnail img-responsive" src="@Url.Content("~/Images/Users/Default.png")" width="300px" height="300px" onclick="$('#CadastrarImagem').modal('show');">
                                }
                            </div>
                            <div class="media-body">
                                <hr>
                                <h3><strong>@Model.UsuarioViewModel.Nome @Model.UsuarioViewModel.Sobrenome</strong></h3>
                                <hr>
                                @if (Model.UsuarioInformacaoViewModel.Cidade != null)
                                {
                                    <h3><strong>Localização</strong></h3>
                                    <p>@Model.UsuarioInformacaoViewModel.Cidade</p>
                                    <hr>
                                }
                                <h3><strong>Usuário desde:</strong> @Model.UsuarioViewModel.DataCriacao.ToString("MMMM yyyy", new CultureInfo("pt-BR"))</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                @Html.Partial("_EditarInformacao", Model.UsuarioInformacaoViewModel)
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span>
                            <h1 class="panel-title pull-left" style="font-size:30px;">Produtos de @Model.UsuarioViewModel.Nome @Model.UsuarioViewModel.Sobrenome</h1>
                        </span>
                        <br>
                        <br><hr>
                        @foreach (ProdutoViewModel produto in ViewBag.Produtos)
                        {
                            <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6" style="max-height: 360px;">
                                <div class="product">
                                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                        <i class="glyphicon glyphicon-heart"></i>
                                    </a>
                                    <div class="image">                                        
                                        @if (produto.ProdutoImagemViewModels.Any())
                                        {
                                            <a href="@Url.Action("Detalhes", "Produtos", new { @id = produto.ProdutoId })">
                                                <img src="@Url.Content(produto.ProdutoImagemViewModels.FirstOrDefault().Caminho)" alt="img" class="img-responsive">
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="product-details.html">
                                                <img src="~/Content/StoreContent/img/sem-imagem.jpg" alt="img" class="img-responsive">
                                            </a>
                                        }
                                        <div class="promotion">
                                            <span class="new-product">Recente</span>
                                        </div>
                                    </div>
                                    <div class="action-control">
                                        <h4><a href="product-details.html">@produto.Nome</a></h4>
                                        <a href="@Url.Action("Detalhes", "Produtos", new { @id = produto.ProdutoId })" class="btn btn-primary">
                                            <span class="add2cart">Detalhes</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-body">
                        <span>
                            <h1 class="panel-title pull-left" style="font-size:30px;">Propostas recebidas</h1>
                        </span>
                        <br>
                        <br><hr>

                        @if (ViewBag.ProdutoOfertados != null)
                        {

                        foreach (ProdutoViewModel produto in ViewBag.ProdutoOfertados)
                        {



                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6" style="max-height: 360px;">
                                        <div class="product">
                                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                                <i class="glyphicon glyphicon-heart"></i>
                                            </a>

                                            <label>Produto Oferecido</label>
                                            <div class="image">
                                                @if (produto.ProdutoImagemViewModels.Any())
                                                {
                                                    <a href="@Url.Action("Detalhes", "Produtos", new { @id = produto.ProdutoId })">
                                                        <img src="@Url.Content(produto.ProdutoImagemViewModels.FirstOrDefault().Caminho)" alt="img" class="img-responsive">
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="product-details.html">
                                                        <img src="~/Content/StoreContent/img/sem-imagem.jpg" alt="img" class="img-responsive">
                                                    </a>
                                                }
                                                <div class="promotion">
                                                    <span class="new-product">Recente</span>
                                                </div>
                                            </div>
                                            <div class="action-control">
                                                <h4><a href="product-details.html">@produto.Nome</a></h4>
                                                <a href="@Url.Action("Detalhes", "Produtos", new { @id = produto.ProdutoId })" class="btn btn-primary">
                                                    <span class="add2cart">Detalhes</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    @foreach (ProdutoViewModel meusProdutos in ViewBag.MeusProdutosOfertados)
                                    {
                                        <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6" style="max-height: 360px;">
                                            <div class="product">
                                                <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                                    <i class="glyphicon glyphicon-heart"></i>
                                                </a>
                                                <label>Produto Desejado</label>
                                                <div class="image">
                                                    @if (meusProdutos.ProdutoImagemViewModels.Any())
                                                    {
                                                        <a href="@Url.Action("Detalhes", "Produtos", new { @id = meusProdutos.ProdutoId })">
                                                            <img src="@Url.Content(meusProdutos.ProdutoImagemViewModels.FirstOrDefault().Caminho)" alt="img" class="img-responsive">
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="product-details.html">
                                                            <img src="~/Content/StoreContent/img/sem-imagem.jpg" alt="img" class="img-responsive">
                                                        </a>
                                                    }
                                                    <div class="promotion">
                                                        <span class="new-product">Recente</span>
                                                    </div>
                                                </div>
                                                <div class="action-control">
                                                    <h4><a href="product-details.html">@meusProdutos.Nome</a></h4>
                                                    <a href="@Url.Action("Detalhes", "Produtos", new { @id = meusProdutos.ProdutoId })" class="btn btn-primary">
                                                        <span class="add2cart">Detalhes</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        foreach (TrocaViewModel troca in ViewBag.Trocas)
                                        {
                                            <p>@troca.DtTrocaAceita</p>
                                            if (troca.FlTrocaAceita == false && troca.FlTrocaRejeitada == false)
                                            {
                                                using (Ajax.BeginForm("AceitarTroca", "Produtos", new AjaxOptions { HttpMethod = "POST", OnSuccess = "$('#trocaAceitaModal').modal('show'); " }))
                                                {

                                                @Html.Hidden("idTroca", troca.IdTroca)

                                            @Html.Hidden("produtoPropostoId", produto.ProdutoId)
                                            @Html.Hidden("produtoSujeitoId", meusProdutos.ProdutoId)
                                        <button class="add2cart" type="submit">Aceitar Troca</button>
                                        
                                                }
                                            }
                                            else if(troca.FlTrocaAceita == true && troca.FlTrocaRejeitada == false)
                                            {
                                                <a class="btn-success" >Troca Aceita</a>
                                            }

                                            <br />
                                            <br />


                                            if (troca.FlTrocaAceita == false && troca.FlTrocaRejeitada == false)
                                            {
                                                using (Ajax.BeginForm("RejeitarTroca", "Produtos", new AjaxOptions { HttpMethod = "POST", OnSuccess = "$('#trocaRejeitadaModal').modal('show'); " }))
                                                {

                                                    @Html.Hidden("idTroca", troca.IdTroca)

                                                    @Html.Hidden("produtoPropostoId", produto.ProdutoId)
                                                    @Html.Hidden("produtoSujeitoId", meusProdutos.ProdutoId)
                                                    <button class="add2cart" type="submit">Rejeitar Troca</button>
                                                }
                                            }
                                            else if(troca.FlTrocaRejeitada == true && troca.FlTrocaAceita == false)
                                            {
                                                <a class="btn-dark">Troca Rejeitada</a>
                                            }




                                            if (troca.FlTrocaAceita == true && troca.FlTrocaProposta == true && troca.FlTrocaRejeitada == false && troca.FlTrocaRealizada == false)
                                            {
                                                using (Ajax.BeginForm("ConfirmarTroca", "Produtos", new AjaxOptions { HttpMethod = "POST", OnSuccess = "$('#trocaRealizadaModal').modal('show'); " }))
                                                {

                                                    @Html.Hidden("idTroca", troca.IdTroca)

                                                    @Html.Hidden("produtoPropostoId", produto.ProdutoId)
                                                    @Html.Hidden("produtoSujeitoId", meusProdutos.ProdutoId)
                                                    <button class="add2cart" type="submit">Confirmar Troca</button>
                                                }
                                            }
                                            else if (troca.FlTrocaAceita == true && troca.FlTrocaProposta == true && troca.FlTrocaRejeitada == false && troca.FlTrocaRealizada == true)
                                            {
                                                <a class="btn-success">Troca Realizada</a>
                                            }





                                            <div class="modal fade" id="trocaRealizadaModal" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Troca</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                @using (Ajax.BeginForm("ConfirmarTroca", "Produtos", new AjaxOptions { HttpMethod = "POST", OnSuccess = "$('#trocaRealizadaModal').modal('show'); " }))
                                                                {

                                                                @Html.Hidden("idTroca", troca.IdTroca)

                                                                @Html.Hidden("produtoPropostoId", produto.ProdutoId)
                                                                @Html.Hidden("produtoSujeitoId", meusProdutos.ProdutoId)
                                                                    <div class="col-md-7">
                                                                        <input type="text" id="dsTroca" name="dsTroca" />
                                                                    </div>
                                                                <button class="add2cart" type="submit">Confirmar Troca</button>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar.</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        }
                                    }

                                </div>
                            </div>

                            <div class="modal fade" id="trocaAceitaModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Troca</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Troca aceita.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar.</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="modal fade" id="trocaRejeitadaModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Troca</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Troca Rejeitada.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar.</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="modal fade" id="trocaRealizadaModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Troca</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Troca Realizada.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar.</button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            }
                        }

                    </div>
                </div>





                <hr>
            </div>
        </div>
    </div>
</div>
@section modals{
    @Html.Partial("_ModalPerfilImagem")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobstrusive")
    @Scripts.Render("~/StoreContent/necessary/script")
    @Scripts.Render("~/StoreContent/file-input/script")
}
@section InternalScripts{
    <script>
        $('#imagem').fileinput({
            language: 'pt-BR',
            allowedFileExtensions: ['jpg', 'png', 'jpeg'],
            showCancel: false,
            maxFileCount: 1,
            validateInitialCount: true,
            overwriteInitial: false,
            initialPreviewAsData: true,
            uploadExtraData: { usuarioId: '@Model.UsuarioViewModel.UsuarioId' },
            @if (!string.IsNullOrEmpty(Model.UsuarioViewModel.ImagemCaminho))
            {
                @:initialPreview: [
                var path = Model.UsuarioViewModel.ImagemCaminho;
                    @:'@Url.Content(path)'
                @:],
                                        @:initialPreviewConfig: [
                                            @:{ url: "@Url.Action("RemoverImagem", "Usuarios")", key: '@Model.UsuarioViewModel.UsuarioId' },
                                        @:]
                                    }
        });

        $('#imagem').on('filebatchuploadcomplete', function (event, files, extra) {
            $('#CadastrarImagem').modal('hide');
            setTimeout(function () { location.reload(); }, 300);
        });

        $('#imagem').on('fileuploaded', function (event, files, extra) {
            $('#CadastrarImagem').modal('hide');
            setTimeout(function () { location.reload(); }, 300);
        });

        function buscarEndereco() {
            $("#Cep").blur(function () {
                var cep = $("#Cep").val();
                if (cep != "") {
                    cep = cep.replace("-", "");
                    var validaCep = /^[0-9]{8}$/;
                    //Validando formato do cep
                    if (validaCep.test(cep)) {
                        //Consultando Webservice
                        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {
                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#Cep")[0].value = dados["cep"];
                                $("#Logradouro")[0].value = dados["logradouro"];
                                $("#Bairro")[0].value = dados["bairro"];
                                $("#Cidade")[0].value = dados["localidade"];
                                $("#Estado")[0].value = dados["uf"];
                            }
                            else {
                                //CEP pesquisado não foi encontrado.
                                $("#Logradouro")[0].value = "";
                                $("#Bairro")[0].value = "";
                                $("#Cidade")[0].value = "";
                                $("#Estado")[0].value = "";
                            }
                        });
                    }
                }
            })
        }

        $("#Cep").blur(buscarEndereco());


        $('#trocaAceitaModal').on('hidden.bs.modal', function () {
            location.reload();
        })

        $('#trocaRejeitadaModal').on('hidden.bs.modal', function () {
            location.reload();
        })

        $('#trocaRealizadaModal').on('hidden.bs.modal', function () {
            location.reload();
        })

    </script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>


<script type="text/javascript">
        $(function () {
            $("#Cep").mask("99999-999");
        });
</script>
}