@using Project.Application.ViewModels
@model UsuarioPerfilViewModel
@using System.Globalization;
@{
    ViewBag.Title = $"Perfil {Model.UsuarioViewModel.Nome} - Quero Trocar!";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
@section Styles {
    @Styles.Render("~/StoreContent/file-input/css")
    <style>
        .mainbody {
            background: #f0f0f0;
        }

        .navbar-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 20;
            margin-left: -15px;
            margin-right: -15px;
        }

            .navbar-wrapper .container {
                padding-left: 0;
                padding-right: 0;
            }

            .navbar-wrapper .navbar {
                padding-left: 15px;
                padding-right: 15px;
            }

        .navbar-content {
            width: 320px;
            padding: 15px;
            padding-bottom: 0px;
        }

            .navbar-content:before, .navbar-content:after {
                display: table;
                content: "";
                line-height: 0;
            }

        .navbar-nav.navbar-right:last-child {
            margin-right: 15px !important;
        }

        .navbar-footer {
            background-color: #DDD;
        }

        .navbar-footer-content {
            padding: 15px 15px 15px 15px;
        }

        .dropdown-menu {
            padding: 0px;
            overflow: hidden;
        }

        .brand_network {
            color: #9D9D9D;
            float: left;
            position: absolute;
            left: 70px;
            top: 30px;
            font-size: smaller;
        }

        .post-content {
            margin-left: 58px;
        }

        .badge-important {
            margin-top: 3px;
            margin-left: 25px;
            position: absolute;
        }

        body {
            background-color: #e8e8e8;
        }
    </style>
}
<div class="container main-container headerOffset">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media"/>
                            <div class="text-center">
                                @if (Model.UsuarioViewModel.ImagemCaminho != null)
                                {
                                    <img class="thumbnail img-responsive" src="@Url.Content(Model.UsuarioViewModel.ImagemCaminho)" width="300px" height="300px" onclick="$('#CadastrarImagem').modal('show');">
                                }
                                else
                                {
                                    <img class="thumbnail img-responsive" src="@Url.Content("~/Images/Users/Default.png")" width="300px" height="300px" onclick="$('#CadastrarImagem').modal('show');">
                                }
                            </div>
                            <div class="media-body">
                                <hr>
                                <h3><strong>@Model.UsuarioViewModel.Nome @Model.UsuarioViewModel.Sobrenome</strong></h3>
                                <hr>
                                @if (Model.UsuarioInformacaoViewModel.Cidade != null)
                                {
                                    <h3><strong>Localização</strong></h3>
                                    <p>@Model.UsuarioInformacaoViewModel.Cidade</p>
                                    <hr>
                                }
                                <h3><strong>Usuário desde:</strong> @Model.UsuarioViewModel.DataCriacao.ToString("MMMM yyyy", new CultureInfo("pt-BR"))</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                @Html.Partial("_Informacao", Model.UsuarioInformacaoViewModel)
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span>
                            <h1 class="panel-title pull-left" style="font-size:30px;">Produtos de @Model.UsuarioViewModel.Nome @Model.UsuarioViewModel.Sobrenome</h1>
                        </span>
                        <br>
                        <br><hr>
                        @foreach (ProdutoViewModel produto in ViewBag.Produtos)
                        {
                            <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6" style="max-height: 360px;">
                                <div class="product">
                                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                        <i class="glyphicon glyphicon-heart"></i>
                                    </a>
                                    <div class="image">
                                        @if (produto.ProdutoImagemViewModels.Any())
                                        {
                                            <a href="@Url.Action("Detalhes", "Produtos", new { @id = produto.ProdutoId })">
                                                <img src="@Url.Content(produto.ProdutoImagemViewModels.FirstOrDefault().Caminho)" alt="img" class="img-responsive">
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="product-details.html">
                                                <img src="~/Content/StoreContent/img/sem-imagem.jpg" alt="img" class="img-responsive">
                                            </a>
                                        }
                                        <div class="promotion">
                                            <span class="new-product">Recente</span>
                                        </div>
                                    </div>
                                    <div class="action-control">
                                        <h4><a href="product-details.html">@produto.Nome</a></h4>
                                        <a href="@Url.Action("Detalhes", "Produtos", new { @id = produto.ProdutoId })" class="btn btn-primary">
                                            <span class="add2cart">Detalhes</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
@section modals{
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobstrusive")
    @Scripts.Render("~/StoreContent/necessary/script")
    @Scripts.Render("~/StoreContent/file-input/script")
}
@section InternalScripts{
    <script>
        

    </script>
}